{% extends 'base.html' %}

{% block content %}

    <form class="container" method="POST">
        <h1 class="h3 mb-3 fw-normal">Rejoignez-nous</h1>
        {% csrf_token %}
        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
            <label for="email">Adresse e-mail</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="last_name" placeholder="Bridoux" name="last_name" required>
            <label for="last_name">Nom de famille</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="first_name" placeholder="Jose" name="first_name" required>
            <label for="first_name">Prénom</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password" required>
            <label for="password">Mot de passe</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">S'inscrire</button>
    </form>

{% endblock %}